:root {
    --main-color: rgba(255, 255, 255, 1);
    --a-button-color: rgb(0, 153, 255);
    --main-font: "Raleway", sans-serif;
    --main-font-2: "Roboto", sans-serif;
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header-ul li {
    margin: 0 15px;
}

.header-ul li.ll {
    margin-right: auto;
}

.header-ul li.l5 {
    margin-left: 400px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.main {
    font-size: 26px;
    background-image: linear-gradient(to right, rgb(0, 153, 255) 27%, rgb(0, 0, 0) 50%);
    background-clip: text;
    color: transparent;
    font-family: var(--main-font);
}

a.email, a.phone {
    font-family: var(--main-font-2);
    font-weight: normal;
    color: gray;
}

a.email {
    margin-right: 15px;
}

main {
    text-align: center;
}

.f-section {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 0 50px;
}

.f-section button {
    font-size: 16px;
    font-family: var(--main-font-2);
    font-weight: medium;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.f-section button:hover {
    background-color: var(--a-button-color);
    color: var(--main-color);
}

.s-section {
    margin-bottom: 94px;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.portfolio-item img {
    width: 90%;
    height: 80%;
}

.portfolio-item-content {
    padding: 20px 24px;
}

.b-title {
    font-family: var(--main-font-2);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.r-title {
    font-family: var(--main-font-2);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

footer {
    background-color: #2F303A;
    color: white;
    padding: 20px 0;
}

.footer-selection {
    font-family: var(--main-font);
    text-align: left;
}

.empty {
    color: transparent;
}

.ul-h2 {
    font-family: var(--main-font-2);
}

.h2_c {
    color: #2196F3;

    background: linear-gradient(90deg, var(--a-button-color) 30%, white 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-selection .p-w, .footer-selection .p-g {
    margin: 5px 0;
}
